<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Yandex Kassa Example</title>
</head>
<body>
    <h3>Payment confirmation</h3>
    {{ form_start(form) }}
    <p>Sum: {{ payData.sum }}</p>
    <a href="javascript:window.history.back();" class="btn btn-primary">< Back</a>
    <div style="display: none">
        {{ form_widget(form.method) }}
    </div>
    <button class="btn btn-primary" type="submit">Confirm and pay</button>
    <div style="display: none">
        {{ form_end(form) }}
    </div>
</body>
</html>