<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Yandex Kassa Example</title>
</head>
<body>
    <h3>{{ message }}</h3>
    <a href="{{ path('index_account_add') }}">Add payment</a>
</body>
</html>